* {
  font-family: "Verdana";

}

body {
  background-color: #ddd8c4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.questionSection {
  background-color: #a3c9a8;
  width: 450px;
  min-height: 200px;
  height: min-content;
  padding: 20px;
  color: #ffffff;
  border-radius: 15px;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}


button {
  width: 100%;
  font-size: 16px;
  color: white;
  background-color: #84b59f;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid grey;
  cursor: pointer;
}


button:hover {
  background-color: #69a297;
}

Footer {
  text-align: center;
  margin-top: auto;
  color: grey;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0
}

Header {
  color: grey;
  text-align: center;
  margin-bottom: 75px;
}